//Predefined web-attr
  $idea-color-white:#ffffff;
  $idea-color-black:#000000;

  //light
  $idea-color2:#BEDBBB;
  $idea-color3:#8DB596;
  $idea-color4:#92817A;
  $idea-color5:#707070;

  //dark
  $backgroud-color-dark:#393E46;
  $idea-color-dark0:#232931;
  $idea-color-dark1:#4ECCA3;
  $idea-color-dark2:#EEEEEE;

  $font-main: 16px;

  html[data-theme="light"] {
    --idea_nav_items: #{$idea-color4};
    --idea_opacity_panel: rgba(77, 77, 77, 0.85);
    --idea_img_filter: none;
    --idea_helper_bg_panel: #{$idea-color-white};
    --idea_bg_pattern: url('/static/img/repeated_food_bg.png');
    --idea-color-text: #{$idea-color-black};
    --idea-color-bg: #{$idea-color2};
    --idea-color-second_bg: #{$idea-color-white};
    --idea-color-first_plan: #{$idea-color3};
    --idea-color-second_plan: #{$idea-color4};
    --idea-color-third_plan: #{$idea-color5};
  }
  
  html[data-theme="dark"] {
    --idea_nav_items: #{$idea-color-dark2};
    --idea_opacity_panel: rgba(78, 204, 163, 0.75);
    --idea_img_filter: invert(1);
    --idea_helper_bg_panel: #{$backgroud-color-dark};
    --idea_bg_pattern: url('/static/img/repeated_food_bg_dark.png');
    --idea-color-text: #{$idea-color-white};
    --idea-color-bg: #{$backgroud-color-dark};
    --idea-color-second_bg: #{$backgroud-color-dark};
    --idea-color-first_plan: #{$idea-color-dark0};
    --idea-color-second_plan: #{$idea-color-dark1};
    --idea-color-third_plan: #{$idea-color-dark2};
  }

//Predefined color blue(someone rly wanted this color so ...)
$idea-color7:#89abc6;

//General styles
body{
  background-image: var(--idea_bg_pattern);
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--idea-color-second_bg) !important;
}
body::before {
  content: ' ';
  // border-image: url('/static/img/repeated_food_bg.png');;
  border-top: 100vh solid var(--idea-color-bg);
  border-right: 100vw solid transparent;
  border-bottom: 0; 
  border-left: 0; 
  width: 0;
  position: absolute;
  z-index: -1;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 25px;
  height: 2.5rem;
  margin: 0;
  span{
    color: var(--idea-color-text);
    filter: drop-shadow(0 0 0.75rem $idea-color7);
  }
  a{
    color: var(--idea-color-text);
    filter: drop-shadow(0 0 0.75rem $idea-color7);
    font-size: 16px;
    &:hover{
      color: var(--idea-color-second_plan);
    }
  }
}

//reusable class
.centered{
  text-align: center;
}

//Login and Register styles
.form_holder {
  height: 650px;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d;
  &__logo{
    height: 150px;
    width: 100%;
    background-color: var(--idea-color-first_plan);
    border-radius: 25px 25px 0px 0px;
    padding-top: 15px;
    img{
      margin-left: auto;
      margin-right: auto;
      // padding-top: 12px;
      display: block;
      filter: var(--idea_img_filter);
    }
  }
  &__content{
    margin: 0;
    height: 400px;
    width: 100%;
    background-color: var(--idea-color-first_plan);
    p{
      padding: 30px;
      font-size: 3*$font-main;
      color: var(--idea-color-text);
      font-family: 'Raleway',sans-serif;
      font-weight: 800;
      line-height: 3*$font-main;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
    form{
      width: 300px;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -35%);
      border-radius: 45px;
      margin-top: 25px;
      label{
        color: var(--idea-color-text);
        font-weight: bold;
      }
      input:not([type='checkbox']){
        display: block;
        text-align: center;
        gap: 10px;
        height: 40px;
        width: 100%;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 4px 12px grey;
      }
      button{
        text-align: center;
        border: none;
        padding: 10px 32px;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 4px 12px grey;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: $font-main;
        &:hover{
          background-color: var(--idea-color-bg);
          color: var(--idea-color-third_plan);
          cursor: pointer;
        }
      }
    }
  } 
  &__footer{
    height: 100px;
    width: 100%;
    background-color: var(--idea-color-first_plan);
    border-radius: 0px 0px 25px 25px;
    // border-top: 2px solid var(--idea-color-first_plan);
    a{
      margin-left: auto;
      margin-right: auto;
      padding-top: 35px;
      display: table;
      color: var(--idea-color-text);
      font-size: 18px;
      font-family: sans-serif;
      &:hover{
        color: var(--idea-color-third_plan);
      }
    }
  }
}
.register_page_holder{
  height: 870px;
  .form_holder__content{
    height: 620px;
    form{
      margin-top: 10px;
      width: 325px;
      button{
        margin-top: 20px;
      }
      .terms_style{
        color: var(--idea-color-text);
        padding-left: 5px;
      }
    }
  }
}

//sweetalert2 replaced base styles
.swal2-styled.swal2-confirm {
  background-color: var(--idea-color-first_plan) !important;
  color: var(--idea-color-third_plan) !important;
}
.swal2-popup {
  background: var(--idea_helper_bg_panel) !important;
  color: #545454;
}
.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  background: rgba(0,0,0,.6) !important;
}
#swal2-title{
  color: var(--idea-color-text) !important;
}

//mainpage styles
.fridge_holder{
  height: 850px;
  width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d;
  padding: 25px;
  background: var(--idea_opacity_panel);
}

//navbar styles
.navbar{
  height: 100vh;
  width: 200px;
  float: left;
  transition: 0.25s;
  background-color: var(--idea-color-first_plan);
  box-shadow: 0px 0px 10px grey;
  border-radius: 0px 10px 10px 0px;
  display: block !important;
  padding: 0 !important;
  &__logo{
    position: relative;
    height: 20vh;
    img{
      border-radius: 0px 10px 0px 0px;
      height: 20vh;
      width: 200px;
      transition: .15s;
      filter: var(--idea_img_filter);
    }
  }
  &__links{
    position: relative;
    height: 26.5vh;
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;  
      li{
        appearance: none;
        background-color: var(--idea_nav_items);
        border-width: 0;
        margin-top: 1vh ;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,var(--idea-color-bg) 0 -3px 0 inset;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        font-family: "JetBrains Mono",monospace;
        height: 48px;
        line-height: 1;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
        a{
          display: block;
          height: 48px;
          width: 200px;
          color: black;
          img{
            display: block;
            float: left;
            height: 45px;
            padding: 5px;
            margin-left: 3px;
          }
          p{ 
            display: block;
            float: left;
            padding-left: 5px;
            padding-top: 13px;
            margin: 0;
          }
        }
      }
      li:hover{
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--idea-color-bg) 0 -3px 0 inset;
        transform: translateY(-2px);      
      }
      li:active{
        box-shadow: var(--idea-color-bg) 0 3px 7px inset;
      }
      .active{
        box-shadow: var(--idea-color-bg) 0 3px 7px inset;
      }
    }
  }
  &__toggle_btn{
    height: 5vh;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    .navbar_burger{
      margin-left: 5px;
      width: 100px;
      height: 4px;
      background-color: var(--idea_opacity_panel);
      border-radius: 3px;
      transition: .25s;
    }
    .navbar_burger::before{
      content: '';
      position: absolute;
      width: 175px;
      height: 4px;
      background-color: var(--idea_opacity_panel);
      border-radius: 3px;
      transition: .25s;
      transform: translateY(-10px);
    }
    .navbar_burger::after{
      content: '';
      position: absolute;
      width: 25px;
      height: 4px;
      background-color: var(--idea_opacity_panel);
      border-radius: 3px;
      transition: .25s;
      transform: translateY(10px);
    }
  }

  // after click on burger

  &__toggle_btn.open .navbar_burger{
    width: 40px;
  }

  &__toggle_btn.open .navbar_burger::after{
    width: 40px;
  }

  &__toggle_btn.open .navbar_burger::before{
    width: 40px;
  }


  &__blank_space{
    height: 37.5vh;
  }  
  &__blank_space.open{
    height: 17.5vh;
  }
  &__user{
    position: relative;
    height:10vh;
    background-color: var(--idea-color-second_plan);
    border-radius: 0px 0px 10px 0px;
    .user_info{
      width: 200px;
      height: 5vh;
      .user_img{
        float: left;
        width: 50px;
        height: 5vh;
        img{
          width: 50px;
          height: 5vh;
        }
      }

      .user_name{
        float: left;
        width: 150px;
        height: 5vh;
        line-height: 5vh;
        display: flex;
        // align-items: center;
        justify-content: center;
        transition: .25s;
      }
    }
    .user_panel{
      width: 200px;
      height: 5vh;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      appearance: none;
      background-color: var(--idea-color-second_plan);
      border-width: 0;
      color: black;
      overflow: hidden;
      position: relative;
      border-radius: 0px 0px 10px 0px;
      transition: width .25s;
      .setting_links{
        display: none;
        float: left;
      }
      .user_panel__option{
        width: 50px;
        height: 5vh;
        display: flex;
        margin: 0;
        img{
          height: 4vh;
          display: flex;
          margin: 5px;
          cursor: pointer;
        }
      }
    }

    .user_panel.open{
      height: 25vh;
      display: block;
      transition: width .25s;

      .setting_links{
        display: block;
        height: 20vh;
        width: 200px;

        ul{
          list-style-type: none;
          padding: 0;
          margin: 0;
          li{
            appearance: none;
            background-color: $idea-color5;
            border-width: 0;
            margin-top: 1vh ;
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,--idea-color-bg 0 -3px 0 inset;
            box-sizing: border-box;
            color: black;
            cursor: pointer;
            font-family: "JetBrains Mono",monospace;
            height: 48px;
            line-height: 1;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 18px;

            a{
              display: block;
              height: 48px;
              width: 200px;
              color: black;
              img{
                display: block;
                float: left;
                height: 45px;
                padding: 5px;
                margin-left: 3px;
              }
              p{ 
                display: block;
                float: left;
                padding-left: 5px;
                padding-top: 13px;
                margin: 0;
              }
            }
          }
        }
      }

      .user_panel__option{
        width: 50px;
        float: right;

      }
    }
  }
}

.navbar.short{
  width: 50px;
  transition: 0.25s;
  .navbar__logo{
    height: 5vh;
    img{
      width: 50px;
      height: 5vh;
    }
  }

  .navbar__links{
    height: 41.5vh;
  }
  
  .navbar__blank_space{
    height: 37.5vh;
  }

  .navbar__blank_space.open{
    height: 17.5vh;
  }

  .navbar__user{
    .user_info{
      width: 50px;
      .user_name{
        display: none;
      }
    }

    .user_panel{
      width: 50px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      img{
        padding-left: 3.06px;
      }

      .switch-box_wrapper{
        display: none;
      }
    }

    .user_panel.open{
      height: 25vh;
      display: block;
      align-items: 0;
      justify-content: 0;
      transition: width .25s;

      .setting_links{
        height: 20vh;
        width: 50px;
        float: left;
        transition: .25s;
      }

      .user_panel__option{
        display: flex;
        float: right;
      }
    }
  }
}

#nav_recipe_res_div{
  background-color: var(--idea-color-first_plan);
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  right: 0;
  .nav_title{
    width: 100%;
    height: 7vh;
    background-color: transparent;
    #nav_reciper_hidder{
      width: 30px;
      height: 30px;
      background-color: var(--idea-color-first_plan);
      position: absolute;
      left: -30px;
      cursor: pointer;
      pointer-events: all;
      div{
        background-image: url('/static/img/icons8-chevron-left-50.png');
        transform: rotate(-180deg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 28px;
        height: 28px;
        filter: var(--idea_img_filter);
      }
    }
    p{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: $font-main*2;
    }
  }
  .nav_filters{
    width: 100%;
    min-height: 13vh;
    background-color: transparent;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    form{
      margin-bottom: 15px;
      text-align: center;
      input[type=submit]{
        pointer-events: none;
      }
    }
  }
  .nav_results{
    width: 100%;
    min-height: 60vh;
    max-height: 67vh;
    background-color: transparent;
    position: relative;
    overflow: auto;
    .nav_recipe_helper{
      background-image: url('/static/img/icons8-puzzled-30.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 20px !important;
      width: 20px !important;
      position: absolute;
      top: 13px;
      right: 15px;
      cursor: pointer;
      pointer-events: all;
      filter:var(--idea_img_filter);
    }
    .recipe_box{
      width: 90%;
      min-height: 5vh;
      background-color: transparent;
      margin: auto;
      margin-bottom: 10px;
      position: relative;
      cursor: pointer;
      pointer-events: all;
      .recipe_box_simple{
        width: 100%;
        height: 5vh;
        background-color: var(--idea-color-bg);
        .verificated{
          background-image: url('/static/img/icons8-checkmark-30.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 20px !important;
          width: 20px !important;
          position: absolute;
          top: -9px;
          left: -9px;
        }
        .name{
          width: 80%;
          height: 5vh;
          float: left;
          p{
            line-height: 5vh;
            padding-left: 10px;
          }
        }
        div:last-child{
          width: 20%;
          height: 5vh;
          background-color: red;
          float: left;
        }
      }
      .recipe_box_extended{
        width: 100%;
        height: 15vh;
        background-color: var(--idea-color-bg);
        border-top: 1px solid black;
        div:first-child{
          height: 9vh;
          width: 100%;
          div:first-child{
            width: 80%;
            height: 9vh;
            // background-color: yellow;
            float: left;
            overflow: hidden;
            font-size: 11px;
            padding-left: 10px;
            padding-top: 2px;
          }
          div:last-child{
            width: 20%;
            height: 9vh;
            float: left;
            .spicy_img{
              background-image: url('/static/img/icons8-chili-pepper-30.png');
              background-repeat: no-repeat;
              background-size: 32px;
              height: 5vh;
              position: absolute;
              top: 0;
              bottom: 0;
              right: -8px;
              margin: auto;
            }
          }
        }
        .small-div{
          background-color: transparent;
          height: 3vh;
          .three-seg{
            width: 25%;
            height: 3vh;
            // background-color: blue;
            float: left;
            .time_img{
              background-image: url('/static/img/icons8-wall-clock-32.png');
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              width: 50%;
              height: 3vh;
              float: left;
              filter: var(--idea_img_filter);
            }
            .people_img{
              background-image: url('/static/img/icons8-user-groups-32.png');
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              width: 50%;
              height: 3vh;
              float: left;
              filter: var(--idea_img_filter);
            }
            .cuisine_img{
              background-image: url('/static/img/icons8-earth-globe-64.png');
              background-repeat: no-repeat;
              background-size: 25px;
              background-position: center;
              width: 25%;
              height: 3vh;
              float: left;
              filter: var(--idea_img_filter);
            }
            .info{
              width: 50%;
              height: 3vh;
              float: left;
            }
          }
          .three-seg:last-child{
            width: 50% !important;
          }
          .two-seg-one{
            width: 70%;
            height: 3vh;
            background-color: transparent;
            float: left;
            margin: auto;
            .star{
              background-image: url('/static/img/icons8-star-32-yellow.png');
              background-repeat: no-repeat;
              background-size: contain;
              background-color: transparent;
              width: 15%;
              height: 3vh;
              float: left;
            }
            .counter{
              background-color: transparent;
              height: 3vh;
            }
          }
          .two-seg-two{
            width: 30%;
            height: 3vh;
            background-color: var(--idea-color-second_plan);
            color: white;
            float: left;
            cursor: pointer;
            border-radius: 45px;
            p{
              line-height: 3vh;
              text-align: center;
              a{
                text-decoration: none;
                color: white;
              }
              a:hover{
                filter: brightness(50%);
              }
            }
            p:hover{
              filter: brightness(50%);
              cursor: pointer;

            }
          }
        }
      }
    }
  }
  .nav_results::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: var(--idea-color-first_plan);
  }
  
  .nav_results::-webkit-scrollbar {
    width: 10px;
  }
  
  .nav_results::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--idea-color-third_plan);
    border: 1px solid #000;
  }
}
#nav_recipe_res_div > *{
  color: var(--idea-color-text);
}
#nav_reciper_show {
  // display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  pointer-events: all;
  background-color: var(--idea-color-first_plan);
  div{
    background-image: url('/static/img/icons8-chevron-left-50.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    filter: var(--idea_img_filter);
  }
}
.nav_recipe_h {
  text-align: center;
  padding: 10px 0px;
  font-size: $font-main;
  font-weight: bold;
  margin: 0;
}
.showclass{
  display: block !important;
}

//theme switcher slider
.switch-box_wrapper{
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  float: left;
}

.switch_box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100px;
  margin-top: 0px;
  height: 5vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  #checkbox_moon{
    pointer-events: none;
    img{
      // display: none;
      height: 2vh;
      position: absolute;
      top: 14px;
      left: 27px;
    }
    img.open{
      top: 21.5vh;
    }
  }
  #checkbox_sun{
    pointer-events: none;
    img{
      // display: none;
      height: 2vh;
      position: absolute;
      top: 13px;
      left: 53px;      
    }
    img.open{
      top:21.5vh;
    }
  }
  input[type="checkbox"].switch_1{
    font-size: 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 3em;
    height: 1.5em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
    
  input[type="checkbox"].switch_1:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: black;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
            box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
            transform: scale(.7);
    left: 0.05em;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
    left: calc(100% - 1.55em);
  }
}

//spicy color filters
.green_filter{
  filter: invert(65%) sepia(50%) saturate(6785%) hue-rotate(87deg) brightness(130%) contrast(112%);
}
.yellow_filter{
  filter: invert(97%) sepia(69%) saturate(7496%) hue-rotate(357deg) brightness(106%) contrast(107%);
}
.orange_filter{
  filter: invert(70%) sepia(41%) saturate(4415%) hue-rotate(359deg) brightness(107%) contrast(103%);
}
.red_filter{
  filter: invert(15%) sepia(96%) saturate(7143%) hue-rotate(0deg) brightness(104%) contrast(112%);
}

#result-explanation{
  display: none;
}

//result_helper
.spicy_helper_img{
  background-image: url('/static/img/icons8-chili-pepper-30.png');
  background-repeat: no-repeat;
  height: 4vh;
  width: 5vh;
  float: left;
  filter: var(--idea_img_filter);
}
.verificated_helper_img{
  background-image: url('/static/img/icons8-checkmark-30.png');
  background-repeat: no-repeat;
  height: 4vh;
  width: 5vh;
  float: left;
  filter: var(--idea_img_filter);
}
.time_img{
  background-image: url('/static/img/icons8-wall-clock-32.png');
  background-repeat: no-repeat;
  height: 4vh;
  width: 5vh;
  float: left;
  filter: var(--idea_img_filter);
}
.people_img{
  background-image: url('/static/img/icons8-user-groups-32.png');
  background-repeat: no-repeat;
  height: 4vh;
  width: 5vh;
  float: left;
  filter: var(--idea_img_filter);
}
.cuisine_img{
  background-image: url('/static/img/icons8-earth-globe-64.png');
  background-repeat: no-repeat;
  background-size: 32px;
  height: 4vh;
  width: 5vh;
  float: left;
  filter: var(--idea_img_filter);
}
.img_info{
  float: left;
}
.result_helper_li{
  margin-bottom: 5px;
  min-height: 4vh;
  list-style-type: none;
  text-align: left;
}
.text_visibility span{
  text-shadow: 0 0 1px black, 0 0 1px black;
}

//recipe_page
.add_recipe_holder{
  height: 750px;
  width: 1100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d;
  .back_button_img{
    background-image: url('/static/img/back-button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 50px !important;
    width: 50px !important;
    position: absolute;
    bottom: -15px;
    left: -15px;
    cursor: pointer;
    z-index: 5;
    filter: drop-shadow(0 0 0.75rem $idea-color7);
  }
  #page_title{
    height: 55px;
    width: 500px;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%);
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    box-shadow: 0px 4px 18px #4d4d4d;
    background: var(--idea_opacity_panel);
    text-align: center;
  }
  .add_recipe_left,.update_recipe_left, .add_recipe_right{
    width: 550px;
    position: relative;
    float: left;
    height: 750px;
    padding: 15px;
    background: var(--idea_opacity_panel);
    .old-form{
      width: 80%;
      margin: auto;
      #img-preview{
        height: 150px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 5px;
        width: 150px;
        border: 2px dashed black;
        #img_preview__img{
          max-height: 135px;
          min-height: 130px;
        }
      }
      input, select,textarea{
        float: right;
        height: 35px;
        line-height: 25px;
        width: 250px;
        border: 2px solid var(--idea-color-first_plan);
      }
      textarea{
        height: auto !important;
      }
      label{
        margin-bottom: 20px;
        font-weight: bold;
        vertical-align: sub;
      }  
    }
    .form-i_block{
      label{
        margin-bottom: 0.5rem;
      }
      input, select,textarea{
        float: none;
        display: block;
        height: auto;
        width: 415px;
        margin-top: 2px;
        border: 2px solid var(--idea-color-first_plan);
      }
    }
  }
  .add_recipe_left{
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    & #short_description{
      height: 30px;
    }
  }
  .update_recipe_left{
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    padding-top: 125px;
    & #short_description{
      height: 30px;
    }
  }
  .add_recipe_right{
    border-left: 1px solid black ;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
  }
}

#recipe_helper{
  background-image: url('/static/img/icons8-puzzled-30.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: drop-shadow(0 0 0.25rem #89abc6);
  height: 30px !important;
  width: 30px !important;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  pointer-events: all;
}

.input-holder i {
  position: absolute;
}

.input_icon {
  padding: 11px;
  color: black;
  min-width: 40px;
  text-align: center;
}
.fa_icon_right{
  right: 0;
}
.submit_center{
  height: 55px;
  width: 250px;
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translate(-50%);
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d;
  background: var(--idea_opacity_panel);
  padding: 11px;
  text-align: center;
  #submit_recipe{
    width: 125px;
    font-weight: bold;
    border: none;
    background: var(--idea-color-bg);
    color: var(--idea-color-text);
    // margin-top: 10px;
    padding: 5px;
    &:hover{
      filter: brightness(50%);
      cursor: pointer;
    }
  }
}   

#nav_helper_color > *{
  color: var(--idea-color-text);
}

//recipe_info
#comments_display_btn{
  // display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  pointer-events: all;
  background-color: var(--idea-color-first_plan);
  div{
    background-image: url('/static/img/icons8-comments_with_star.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 38px;
    height: 38px;
  }
}
#recipe_comment_section {
  background-color: var(--idea-color-first_plan);
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  .recipe__user_comment_add{
    height: 30vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--idea-color-text);
    p{
      color: var(--idea-color-text);
      font-size: 32px;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
    .comment_form{
      label{
        color: var(--idea-color-text);
      }
      .raiting_section{
        width: 180px;
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
        position: relative;
        margin-bottom: 15px;
        .txt-center {
          text-align: center;
        }
        .hide {
          display: none;
        }
        .clear {
          float: none;
          clear: both;
        }
        label {
            float: right;
            display: inline;
            padding: 0;
            margin: 0;
            position: relative;
            width: 1.1em;
            cursor: pointer;
            color: var(--idea-color-text);
            font-size: 32px;
        }
        label:hover,
        label:hover ~ label,
        input.radio-btn:checked ~ label {
            color: transparent;
        }
        label:hover:before,
        label:hover ~ label:before,
        input.radio-btn:checked ~ label:before,
        input.radio-btn:checked ~ label:before {
            content: "\2605";
            position: absolute;
            left: 0;
            color: #FFD700;
        }
      }
      input, textarea{
        height: 35px;
        line-height: 25px;
        width: 250px;
        border: 2px solid var(--idea-color-second_plan);
        margin-bottom: 10px;
      }
      textarea {
        resize: none;
        min-height: 35px;
        max-height: 70px;
      }
      .submit_comment{
        width: 125px;
        font-weight: bold;
        border: none;
        background: var(--idea-color-bg);
        color: var(--idea-color-text);
        padding: 5px;
      }
      .submit_comment:hover {
        filter: brightness(50%);
        cursor: pointer;
    }
    } 
  }
  .recipe__users_comments{
    height: 65vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    overflow-y: auto;
    .recipe_comment{
      min-height: 75px;
      width: 100%;
      margin-bottom: 15px;
      .top{
        height: 50px;
        width: 100%;
        .avatar{
          height: 50px;
          width: 20%;
          float: left;
          img{
            width: 50px;
            border-radius: 25px;
          }
        }
        .user_name{
          height: 50px;
          width: 65%;
          float: left;
          color: white;
          text-align: center;
          line-height: 50px;
        }
        .user_rating{
          height: 50px;
          background-image: url('/static/img/icons8-star-32-yellow.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 15%;
          float: left;
          div{
            text-align: center;
            height: 50px;
            color: black;
            line-height: 50px;
          }
        }
      }
      .bottom{
        min-height: 25px;
        width: 100%;
        padding-left: 5px;
        padding-top: 5px;
        color: white;
        font-size: 12px;
      }
    }
  }
}
.add_recipe_holder{
  .add_recipe_left{
    .top_section{
      height: 175px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1px solid black;
      .recipe_photo{
        height: 175px;
        width: 35%;
        float: left;
        background-image: url('https://via.placeholder.com/175/09f/fff.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .recipe_name{
        height: 175px;
        width: 65%;
        float: left;
        padding: 5px;
        .name{
          font-size: 24px;
          color: white;
        }
        .author{
          color: white;
          font-size: 16px;
        }
      }
    }
    .middle_section{
      height: 540px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .middle_section_left{
        height: 540px;
        width: 35%;
        .item{
          width: 100%;
          height: 60px;
          text-align: center;
          line-height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          .difficulty_ico{
            background-image: url('/static/img/icons8-effort-50.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .cuisine_ico{
            background-image: url('/static/img/icons8-earth-globe-64.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .per_serving_ico{
            background-image: url('/static/img/icons8-user-groups-32.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .spiciness_ico{
            background-image: url('/static/img/icons8-chili-pepper-30.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .time_ico{
            background-image: url('/static/img/icons8-wall-clock-32.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .raiting_ico{
            background-image: url('/static/img/icons8-star-32-yellow.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .item_text{
            font-size: 28px;
            padding-left: 5px;
          }
        }
        .star_raiting_redirect{
          cursor: pointer;
          text-decoration: underline;
        }
        .star_raiting_redirect:hover{
          filter: brightness(75%);
          color: white;
        }
      }
      .middle_section_right{
        height: 540px;
        width: 65%;
        display: flex;
        flex-direction: column;
        .short_desc_sec{
          height: 140px;
          width: 100%;
          border-left: 1px solid black;
          padding: 5px;
        }
        .ingredients_sec{
          min-height: 200px;
          max-height: 400px;
          width: 100%;
          border-left: 1px solid black;
          border-top: 1px solid black;
          padding: 5px;
        }
      }
    }
  }
  // .add_recipe_right{

  // }
}

.validation_error_icon{
  background-image: url('/static/img/icons8-box-important-48.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 30px;
  width: 30px;
  color: red;
  font-size: 13px;
}

// Product Page
.add_product_holder{
  height: 850px;
  width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d;
  background: rgba(77, 77, 77, .85);
  padding: 15px;
  .input_form{
    width: 75%;
    margin: auto;
      #submit_product{
        width: 125px;
        border: none;
        background: $idea-color2;
        color: black;
        padding: 5px;
        &:hover{
          background-color: --idea-color-first_plan;
          cursor: pointer;
        }
      }
    }

  input, select{
    float: right;
    height: 30px;
    width: 225px;
    border: 2px solid $idea-color3;
  }
  label{
    margin-bottom: 1rem;
    font-weight: bold;
  }
  h1{
    text-align: center;
  }
 
  .back_button_img{
    background-image: url(/static/img/back-button.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 50px !important;
    width: 50px !important;
    position: absolute;
    bottom: -15px;
    left: -15px;
    cursor: pointer;
    z-index: 5;
    filter: drop-shadow(0 0 0.75rem $idea-color7);
  }
}

//product box styles
.products{
  width: 600px;
  height: 500px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    background: #707070;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 10px;
    border: 3px none #707070;
  }
}
#recipe_comment_section {
  background-color: var(--idea-color-first_plan);
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  right: left;
  .recipe__user_comment_add{
    height: 30vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--idea-color-text);
    p{
      color: var(--idea-color-text);
      font-size: 32px;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
    .comment_form{
      label{
        color: var(--idea-color-text);
      }
      .raiting_section{
        width: 180px;
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
        position: relative;
        margin-bottom: 15px;
        .txt-center {
          text-align: center;
        }
        .hide {
          display: none;
        }
        .clear {
          float: none;
          clear: both;
        }
        label {
            float: right;
            display: inline;
            padding: 0;
            margin: 0;
            position: relative;
            width: 1.1em;
            cursor: pointer;
            color: var(--idea-color-text);
            font-size: 32px;
        }
        label:hover,
        label:hover ~ label,
        input.radio-btn:checked ~ label {
            color: transparent;
        }
        label:hover:before,
        label:hover ~ label:before,
        input.radio-btn:checked ~ label:before,
        input.radio-btn:checked ~ label:before {
            content: "\2605";
            position: absolute;
            left: 0;
            color: #FFD700;
        }
      }
      input, textarea{
        height: 35px;
        line-height: 25px;
        width: 250px;
        border: 2px solid var(--idea-color-second_plan);
        margin-bottom: 10px;
      }
      textarea {
        resize: none;
        min-height: 35px;
        max-height: 70px;
      }
      .submit_comment{
        width: 125px;
        font-weight: bold;
        border: none;
        background: var(--idea-color-bg);
        color: var(--idea-color-text);
        padding: 5px;
      }
      .submit_comment:hover {
        filter: brightness(50%);
        cursor: pointer;
    }
    } 
  }
  .recipe__users_comments{
    height: 65vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    overflow-y: scroll;
    .recipe_comment{
      min-height: 75px;
      width: 100%;
      margin-bottom: 15px;
      .top{
        height: 50px;
        width: 100%;
        .avatar{
          height: 50px;
          width: 20%;
          float: left;
          img{
            width: 50px;
            border-radius: 25px;
          }
        }
        .user_name{
          height: 50px;
          width: 65%;
          float: left;
          color: white;
          text-align: center;
          line-height: 50px;
        }
        .user_rating{
          height: 50px;
          background-image: url('/static/img/icons8-star-32-yellow.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 15%;
          float: left;
          div{
            text-align: center;
            height: 50px;
            color: black;
            line-height: 50px;
          }
        }
      }
      .bottom{
        min-height: 25px;
        width: 100%;
        padding-left: 5px;
        padding-top: 5px;
        color: white;
        font-size: 12px;
      }
    }
  }
}
.add_recipe_holder{
  .add_recipe_left{
    .top_section{
      height: 175px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1px solid black;
      .recipe_photo{
        height: 175px;
        width: 35%;
        float: left;
        background-image: url('https://via.placeholder.com/175/09f/fff.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .recipe_name{
        height: 175px;
        width: 65%;
        float: left;
        padding: 5px;
        .name{
          font-size: 24px;
          color: white;
        }
        .author{
          color: white;
          font-size: 16px;
        }
      }
    }
    .middle_section{
      height: 540px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .middle_section_left{
        height: 540px;
        width: 35%;
        .item{
          width: 100%;
          height: 60px;
          text-align: center;
          line-height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          .difficulty_ico{
            background-image: url('/static/img/icons8-effort-50.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .cuisine_ico{
            background-image: url('/static/img/icons8-earth-globe-64.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .per_serving_ico{
            background-image: url('/static/img/icons8-user-groups-32.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .spiciness_ico{
            background-image: url('/static/img/icons8-chili-pepper-30.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .time_ico{
            background-image: url('/static/img/icons8-wall-clock-32.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .raiting_ico{
            background-image: url('/static/img/icons8-star-32-yellow.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 35px;
            width: 35px;
          }
          .item_text{
            font-size: 28px;
            padding-left: 5px;
          }
        }
        .star_raiting_redirect{
          cursor: pointer;
          text-decoration: underline;
        }
        .star_raiting_redirect:hover{
          filter: brightness(75%);
          color: white;
        }
      }
      .middle_section_right{
        height: 540px;
        width: 65%;
        display: flex;
        flex-direction: column;
        .short_desc_sec{
          height: 140px;
          width: 100%;
          border-left: 1px solid black;
          padding: 5px;
        }
        .ingredients_sec{
          min-height: 200px;
          max-height: 400px;
          width: 100%;
          border-left: 1px solid black;
          border-top: 1px solid black;
          padding: 5px;
        }
      }
    }
  }
  .add_recipe_right{}
}

.product_box{
  width: 190px;
  height: 75px;
  background-color: $idea-color3;
  border-radius: 15px;
  float: left;
  margin: 3px;
  &__name{
    float: left;
    width: 140px;
    height: 75px;
    padding: 5px 2px 5px 5px;
    display: flex;
        &__img{
      width: 40px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 40px;
        height: 40px;
      }
    }
    
    &__text{
      width: 90px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 3px;
      p{
        width: 90px;
        height: 40px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        word-wrap: break-word;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
      }
    }

  }
  &__quantity{
    float: left;
    width: 50px;
    height: 75px;

    p{
      width: 50px;
      height: 25px;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .plus_btn{
      width: 50px;
      height: 25px;
      border: none;
      border-radius: 0px 15px 0px 0px;
      background-color: --idea_helper_bg_panel;
    }
    .plus_btn:active{
      background-color: $idea-color2;
    }

    .minus_btn{
      width: 50px;
      height: 25px;
      border: none;
      border-radius: 0px 0px 15px 0px;
      background-color: --idea_helper_bg_panel;
    }
    .minus_btn:active{
      background-color: $idea-color2;
    }
  }
  
  .submit_changes{
    display: block;
  }
}

//my recipes page
.my_recipes_holder{
  height: 800px;
  width: 850px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d;
  background: rgba(77, 77, 77, .85);
  padding: 20px;

  #page_title{
    height: 55px;
    width: 500px;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%);
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    box-shadow: 0px 4px 18px #4d4d4d;
    background: var(--idea_opacity_panel);
    text-align: center;
  }
  .recipes_holder{
    height: 750px;
    width: 811px;
    margin: 0px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 11px;
    }
  
    &::-webkit-scrollbar-track {
      background: #707070;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #4d4d4d;
      border-radius: 10px;
      border: 3px none #707070;
    }
  }
  div[class^="recipe_box-"]{
    height: 175px;
    width: 791px;
    display: flex;
    // box-shadow: 0px 4px 18px #4d4d4d;
    background: rgba(77, 77, 77,100);
    border-radius: 45px;
    margin-top: 10px;
    position: relative;

    .recipe_photo{
      height: 175px;
      width: 175px;
      float: left;
      background-image: url('https://via.placeholder.com/175/09f/fff.png');
      background-repeat: no-repeat;
      border-top-left-radius: 45px;
      border-bottom-left-radius: 45px;
      margin: 0px;
    }
    .recipe_name{
      display: flex;
      float: left;
      width: 546px;
      font-size: 32px;
      margin: 0px;
      padding: 10px;
    }

    div[class^="update-"]{
      position: absolute;
      display: flex;
      bottom: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      background-color: var(--idea-color-first_plan);
      border-radius: 100%;
      img{
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
      a{
        display: none;
      }
    }

    div[class^="update-"].open{
      width: 300px;
      border-radius: 40px;
      display: flex;
      justify-content:flex-start;
      align-items: center;
      img{
        float: left;
        margin: 0px 10px 0px 10px;
      }
      a{
        display: block;
        float: left;
        margin: 0px 10px 0px 10px;
        cursor: pointer;
        text-decoration: none;
        font-size: 18px;
        color: black;
      }
      a:hover{
        color:#707070;
      }
      #delete_recipe{
        color: red
      }
      #delete_recipe:hover{
        color: rgb(185, 50, 50)
      }
    }
  }
}

// all recipe style
#all_recipe_filters_display_btn{
  // display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  pointer-events: all;
  background-color: var(--idea-color-first_plan);
  div{
    background-image: url('/static/img/icons8-slider-48.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 38px;
    height: 38px;
  }
}
#all_recipe_filters_section {
  background-color: var(--idea-color-first_plan);
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--idea-color-text);
}
.all_recipes_holder{
  height: 750px;
  width: 1100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d;
  .back_button_img{
    background-image: url('/static/img/back-button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 50px !important;
    width: 50px !important;
    position: absolute;
    bottom: -15px;
    left: -15px;
    cursor: pointer;
    z-index: 5;
    filter: drop-shadow(0 0 0.75rem $idea-color7);
  }
  #page_title{
    height: 55px;
    width: 500px;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%);
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    box-shadow: 0px 4px 18px #4d4d4d;
    background: var(--idea_opacity_panel);
    text-align: center;
  }
  .all_recipes_content_holder{
    width: 1100px;
    position: relative;
    float: left;
    height: 750px;
    padding: 15px;
    background: var(--idea_opacity_panel);
    border-radius: 45px;
    overflow: auto;
    .container{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 15px;
      .recipe_item{
        height: 325px;
        width: 325px;
        // background-color: red;
        border-radius: 45px;
        background-image: url('/static/img/temp_recipe_img_holder.jfif');
        background-size: contain;
        position: relative;
        .text{
          position: absolute; 
          bottom: 0; 
          width: 100%; 
          height: 65px; 
          background-color: red;
          border-bottom-left-radius: 45px;
          border-bottom-right-radius: 45px;
        }
      }
    }
  }
  .all_recipes_content_holder::-webkit-scrollbar {
    width: 1em;
  }
  .all_recipes_content_holder::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  .all_recipes_content_holder::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.help_holder{
  height: 750px;
  width: 1100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d;
  background: rgba(77, 77, 77, .85);
  padding: 15px;

  #page_title{
    height: 55px;
    width: 300px;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%);
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    box-shadow: 0px 4px 18px #4d4d4d;
    background: var(--idea_opacity_panel);
    text-align: center;
  }

  .all_FAQ{
    height: 720px;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin: 0;
  
    &::-webkit-scrollbar {
      width: 11px;
    }
  
    &::-webkit-scrollbar-track {
      background: #707070;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #4d4d4d;
      border-radius: 10px;
      border: 3px none #707070;
    }
    div[class^="FAQ_"]{
      width: 80%;
      height: 50px;
      background-color: var(--idea-color-first_plan);
      padding: 5px;
      border-radius: 15px;
      position: relative;
      transition: .25s;
      margin-top: 20px;
  
      .question{
        display: flex;
        font-size: 28px;
        width: 100%;
        height: 42px;
        overflow: wrap;
      }
      
      .toggle_arrow{
        position: absolute;
        height: 40px;
        left: 800px;
        bottom: 3px;
        float: right;
  
        img{
          width: 40px;
          height: 40px;
          transform: rotate(90deg);
          cursor:pointer;
          transition: .25s;
        }
      }
  
      .answear{
        width: 100%;
        padding-top: 5px;
        font-size: 18px;
        opacity: 0;
        transition: opacity .25s;
      }
    }
  
    div[class^="FAQ_"].open{
      height: 200px;
  
      .question{
        display: flex;
        width: 100%;
        float: left;
      }
  
      .toggle_arrow{
        img{
          transform: rotate(270deg);
          transition: .25s;
        }
      }
  
      .answear{
      opacity: 1;
      transition: opacity .25s;
      }
    }
  }
  
}

.contact_holder{
  height: 750px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d;
  background: rgba(77, 77, 77, .85);
  padding: 35px;
  display: flex;
  justify-content: center;

  #page_title{
    height: 55px;
    width: 400px;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%);
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    box-shadow: 0px 4px 18px #4d4d4d;
    background: var(--idea_opacity_panel);
    text-align: center;
  }

  .contact_form{
    width: 90%;
    display:flex;
    flex-direction: column;
    input,textarea,select{
      margin: 0;
      border: 2px solid var(--idea-color-first_plan);
    }


    label{
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  .mess_submit{
    width: 125px;
    border: none;
    background: $idea-color2;
    color: black;
    padding: 5px;
    position: absolute;
    top:85%;
    left: 50%;
    transform: translate(-50%);
  

    &:hover{
      background-color: var(--idea-color-first_plan);
      cursor: pointer;
    }
  }
}


.succes_holder{
  height: 750px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d;
  background: rgba(77, 77, 77, .85);
  padding: 35px;
  display: flex;
  justify-content: center;

  #page_title{
    height: 55px;
    width: 400px;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%);
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    box-shadow: 0px 4px 18px #4d4d4d;
    background: var(--idea_opacity_panel);
    text-align: center;
  }

  .mess_box{
    margin-top: 250px;

    #progressBar{
      border-radius: 5px;
    }
  }
}
