@media(max-width:1300px){
    footer{
        display: none;
    }
}

//login and register page
@media(max-width:1500px){
    .register_page_holder {
        height: 650px;
        width: 550px;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .register_page_holder .form_holder__content form {
        transform: translate(-50%, -13%);
    }
}

@media(max-width:600px){
    body{
        overflow-x: hidden;
    }
}

//add recipe
@media(max-width:1150px){
    .add_recipe_holder #page_title {
        height: 55px;
        width: 500px;
        position: relative;
        left: 50%;
        top: 0px;
        transform: translate(-50%);
        padding-top: 5px;
    }
    .add_recipe_holder {
        height: 750px;
        width: 1100px;
        position: relative;
        left: 50%;
        top: 0;
        transform: translate(-50%);
        border-radius: 0;
        box-shadow: none;

    }
    .submit_center {
        height: 55px;
        width: 250px;
        position: relative;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .add_recipe_holder .add_recipe_left, .add_recipe_holder .update_recipe_left, .add_recipe_holder .add_recipe_right {
        width: 550px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        float: none;
        height: 750px;
        padding: 15px;
        background: var(--idea_opacity_panel);
    }
    .add_recipe_holder .add_recipe_left {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }
    .add_recipe_holder .add_recipe_right {
        border-left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    body{
        overflow-x: hidden;
    }
    .add_recipe_holder .back_button_img {
        position: absolute;
        left: 23%;
        bottom: -111%;
    }
}

@media(max-width:675px){
    #recipe_helper{
        display: none;
    }
}

// main page
@media(max-width: 1000px){
    .navbar {
        position: absolute !important;
        z-index: 1;
    }
    .fridge_holder {
        height: 850px;
        width: 650px;
        position: relative !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 45px;
        box-shadow: 0px 4px 18px #4d4d4d;
        padding: 25px;
        background: var(--idea_opacity_panel);
        text-align: center;
    }
}

@media(max-width: 700px){  
    .products {
        width: 385px;
        height: 500px;
        overflow-y: scroll;
        margin: auto;
    }
    .product_box {
        width: 180px;
    }
    .product_box__name {
        width: 130px;
    }
    .product_box__name__text {
        width: 85px;
    }
}
