body {
  background-image: url("/static/img/repeated_food_bg.png");
  margin: 0;
  width: 100vw;
  height: 100vh; }

body::before {
  content: ' ';
  border-top: 100vh solid #BEDBBB;
  border-right: 100vw solid transparent;
  border-bottom: 0;
  border-left: 0;
  width: 0;
  position: absolute;
  z-index: -1; }

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 25px;
  height: 2.5rem;
  margin: 0; }
  footer div {
    color: #4d4d4d; }
  footer a {
    color: #4d4d4d;
    font-size: 16px; }
    footer a:hover {
      color: #92817A; }

.form_holder {
  height: 650px;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  box-shadow: 0px 4px 18px #4d4d4d; }
  .form_holder__logo {
    height: 150px;
    width: 100%;
    background-color: #8DB596;
    border-radius: 25px 25px 0px 0px; }
    .form_holder__logo img {
      margin-left: auto;
      margin-right: auto;
      padding-top: 12px;
      display: block; }
  .form_holder__content {
    margin: 0;
    height: 400px;
    width: 100%;
    background-color: #8DB596; }
    .form_holder__content p {
      padding: 30px;
      font-size: 48px;
      color: #4d4d4d;
      font-family: 'Raleway',sans-serif;
      font-weight: 800;
      line-height: 48px;
      margin: 0;
      text-align: center;
      text-transform: uppercase; }
    .form_holder__content form {
      width: 300px;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -35%);
      border-radius: 45px;
      margin-top: 25px; }
      .form_holder__content form label {
        color: #4d4d4d;
        font-weight: bold; }
      .form_holder__content form input {
        display: block;
        text-align: center;
        gap: 10px;
        height: 30px;
        width: 100%;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 4px 12px grey; }
      .form_holder__content form button {
        text-align: center;
        border: none;
        padding: 10px 32px;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 4px 12px grey;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 16px; }
        .form_holder__content form button:hover {
          background-color: #BEDBBB;
          color: #707070;
          cursor: pointer; }
  .form_holder__footer {
    height: 100px;
    width: 100%;
    background-color: #8DB596;
    border-radius: 0px 0px 25px 25px;
    border-top: 2px solid #4d4d4d; }
    .form_holder__footer a {
      margin-left: auto;
      margin-right: auto;
      padding-top: 35px;
      display: table;
      color: #4d4d4d;
      font-size: 18px;
      font-family: sans-serif; }
      .form_holder__footer a:hover {
        color: #deedde; }

#test {
  display: none; }

.swal2-styled.swal2-confirm {
  background-color: #8DB596 !important;
  color: #deedde !important; }

.swal2-popup {
  background: #deedde !important;
  color: #545454; }

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, 0.6) !important; }

.navbar-left {
  background-color: red;
  width: 15%;
  height: 100%;
  float: left; }

.main-content {
  background-color: transparent;
  width: 85%;
  height: 100%;
  float: left; }

.navbar {
  height: 100vh;
  width: 200px;
  float: left;
  transition: 0.25s;
  background-color: #8DB596;
  box-shadow: 0px 0px 10px grey;
  border-radius: 0px 10px 10px 0px; }
  .navbar__logo {
    position: relative;
    height: 20vh; }
    .navbar__logo img {
      border-radius: 0px 10px 0px 0px;
      height: 20vh;
      width: 200px;
      transition: .15s; }
  .navbar__links {
    position: relative;
    height: 26.5vh; }
    .navbar__links ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .navbar__links ul li {
        appearance: none;
        background-color: #deedde;
        border-width: 0;
        margin-top: 1vh;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #BEDBBB 0 -3px 0 inset;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        font-family: "JetBrains Mono",monospace;
        height: 48px;
        line-height: 1;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px; }
        .navbar__links ul li a {
          display: block;
          height: 48px;
          width: 200px;
          color: black; }
          .navbar__links ul li a img {
            display: block;
            float: left;
            height: 36px;
            padding: 5px; }
          .navbar__links ul li a p {
            display: block;
            float: left;
            padding-left: 5px;
            padding-top: 13px;
            margin: 0; }
      .navbar__links ul li:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #BEDBBB 0 -3px 0 inset;
        transform: translateY(-2px); }
      .navbar__links ul li:active {
        box-shadow: #BEDBBB 0 3px 7px inset; }
      .navbar__links ul .active {
        box-shadow: #BEDBBB 0 3px 7px inset; }
  .navbar__toggle_btn {
    height: 5vh; }
    .navbar__toggle_btn img {
      display: flex;
      float: right;
      height: 5vh;
      transform: rotate(180deg);
      transition: 0.25s;
      cursor: pointer; }
  .navbar__blank_space {
    height: 37.5vh; }
  .navbar__user {
    position: relative;
    height: 10vh;
    background-color: #92817A;
    border-radius: 0px 0px 10px 0px; }
    .navbar__user .user_info {
      width: 200px;
      height: 5vh; }
      .navbar__user .user_info .user_img {
        float: left;
        width: 50px;
        height: 5vh; }
        .navbar__user .user_info .user_img img {
          width: 50px;
          height: 5vh; }
      .navbar__user .user_info .user_name {
        float: left;
        width: 150px;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .25s; }
    .navbar__user .settings {
      width: 200px;
      height: 5vh;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      appearance: none;
      background-color: #92817A;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #707070 0 -3px 0 inset;
      box-sizing: border-box;
      color: black;
      cursor: pointer;
      font-family: "JetBrains Mono",monospace;
      line-height: 1;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      transition: box-shadow .25s,transform .25s, width .25s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
      border-radius: 0px 0px 10px 0px; }
      .navbar__user .settings img {
        height: 5vh; }
    .navbar__user .settings:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #707070 0 -3px 0 inset;
      transform: translateY(-2px); }
    .navbar__user .settings:active {
      box-shadow: #707070 0 3px 7px inset; }

.navbar.short {
  width: 50px;
  transition: 0.25s; }
  .navbar.short .navbar__logo {
    height: 5vh; }
    .navbar.short .navbar__logo img {
      width: 50px;
      height: 5vh; }
  .navbar.short .navbar__links {
    height: 41.5vh; }
  .navbar.short .navbar__toggle_btn img {
    transform: rotate(0deg);
    transition: 0.25s; }
  .navbar.short .navbar__blank_space {
    height: 37.5vh; }
  .navbar.short .navbar__user .user_info {
    width: 50px; }
    .navbar.short .navbar__user .user_info .user_name {
      display: none; }
  .navbar.short .navbar__user .settings {
    width: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }
    .navbar.short .navbar__user .settings img {
      padding-left: 3.06px; }

/*# sourceMappingURL=main.css.map */