{% extends 'base.html' %}
{% load static %}
{% block page_title %}
  Idea-Meal || All recipes
{% endblock %}
{% block body %}
    <div id="all_recipe_filters_display_btn" onclick="all_recipes_filter_section_toggle()">
        <div></div>
    </div>  
    <div id="all_recipe_filters_section" style="display: none;">
        <form>
        <div class="container" style="text-align: center;">
            <div class="basic_filters">
            <p style="
            font-size: 33px;
            margin: 15px;
            font-weight: bold;
            ">Recipes filters</p>
            <input class="form-control" type="text" placeholder="search for recipe..." id="searchbar">
            <br>
            <fieldset style="margin-bottom: 25px;">      
                <legend style="font-size: 28px;font-weight: 100;">Order By:</legend>   
                <select class="form-select" name="recipe_order_by" id="recipe_order_by">
                    <option value="name" disabled selected="selected">Choose option</option>
                    <option value="name_ASC">Name ASC</option>
                    <option value="name_DESC">Name DESC</option>
                    <option value="spiciness_ASC">spiciness ASC</option>
                    <option value="spiciness_DESC">spiciness DESC</option>
                    <option value="popularity">most popular</option>
                    <option value="prepare_time_ASC">prepare time ASC</option>
                    <option value="prepare_time_DESC">prepare time DESC</option>
                </select> 
            </fieldset>
            </div>
        </div>
    </form>
    </div>
    <div class="all_recipes_holder">
        <div id="page_title">
          <h1>Recipes</h1>
        </div>
        <a href={% url 'main' user_id=user.id%}><div class="back_button_img" title="Home"></div></a>
        <div class="all_recipes_content_holder">
            <div class="container" id="recipe_items_show">
                {%for x in all_recipes%}
                    <div class="recipe_item" data-spiciness="{{x.spiciness}}" data-prepare_time="{{x.prepare_time}}" data-raiting="{{x.comment_id}}" data-name="{{x.name}}">
                        <div class="img"></div>
                        <div class="text">
                            <div class="name each_recipe_name">{{x.name}}</div>
                            <div>
                                <button type="button" class="btn btn-primary idea_meal_button_color" onclick="addToShoppingList('{{x.id}}')">Add to list</button> 
                                <a href ="/recipe/{{x.id}}"><button type="button" class="btn btn-primary idea_meal_button_color">See more</button></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}
{% block page_js%}
<script>
$(document).ready(function(){
    $('#searchbar').on('keyup', function(){
        var searchbar_val = $(this).val().toLowerCase();
        $('.each_recipe_name').parent().parent().hide();
        
        $('.each_recipe_name').each(function(){
            var recipe_name = $(this).text().toLowerCase();
            if(recipe_name.indexOf(searchbar_val) != -1){
                $(this).parent().parent().show();
            }
        });
    })
})

$("#filter_all_recipes").on('click', function(){
    var tab_meal_time = [];
    var tab_prepare_time = [];
    var tab_spiciness = [];
    var tab_difficulty = [];
    var tab_cuisine = [];
    var tab_portions = [];
    var tab_verficiated = [];
    var f_recipe_test;

    $.each($("input[name='meal_time']:checked"), function(){
        tab_meal_time.push($(this).val());
    });
    $.each($("input[name='prepare_time']:checked"), function(){
        tab_prepare_time.push({'prepare_time': $(this).val()});
    });
    $.each($("input[name='spiciness']:checked"), function(){
        tab_spiciness.push({'spiciness': $(this).val()});
    });
    $.each($("input[name='difficulty']:checked"), function(){
        tab_difficulty.push({'difficulty': $(this).val()});
    });
    $.each($("input[name='cuisine']:checked"), function(){
        tab_cuisine.push({'cuisine': $(this).val()});
    });
    $.each($("input[name='portions']:checked"), function(){
        tab_portions.push({'portions': $(this).val()});
    });
    $.each($("input[name='verficiated']:checked"), function(){
        tab_verficiated.push({'verficiated': $(this).val()});
    });
  });

$('#recipe_order_by').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    console.log(valueSelected);
    if(valueSelected == 'spiciness_ASC'){
        $("#recipe_items_show").append(function() {
            return $(this).children().sort(function(a, b) {
                return $(a).attr("data-spiciness") - $(b).attr("data-spiciness");
            })
        })
    }else if(valueSelected == 'spiciness_DESC'){
        $("#recipe_items_show").append(function() {
            return $(this).children().sort(function(a, b) {
                return $(b).attr("data-spiciness") - $(a).attr("data-spiciness");
            })
        })
    }else if(valueSelected == 'popularity'){
        $("#recipe_items_show").append(function() {
            return $(this).children().sort(function(a, b) {
                return $(b).attr("data-raiting") - $(a).attr("data-raiting");
            })
        })
    }else if(valueSelected == 'prepare_time_ASC'){
        $("#recipe_items_show").append(function() {
            return $(this).children().sort(function(a, b) {
                return $(a).attr("data-prepare_time") - $(b).attr("data-prepare_time");
            })
        })
    }else if(valueSelected == 'prepare_time_DESC'){
        $("#recipe_items_show").append(function() {
            return $(this).children().sort(function(a, b) {
                return $(b).attr("data-prepare_time") - $(a).attr("data-prepare_time");
            })
        })
    }else if(valueSelected == 'name_ASC'){
        $("#recipe_items_show").append(function() {
            return $(this).children().sort(function(a, b) {
                return ($(b).attr("data-name")) < ($(a).attr("data-name")) ? 1 : -1;    
            })
        })
    }else if(valueSelected == 'name_DESC'){
        $("#recipe_items_show").append(function() {
            return $(this).children().sort(function(a, b) {
                return ($(b).attr("data-name")) > ($(a).attr("data-name")) ? 1 : -1;    
            })
        })
    }
});
</script>
{% endblock %} 

