{% extends 'base.html' %}
{% block page_title %}
  Idea-Meal || Login Page
{% endblock %}
{% block body %}
  <h1>Login Page</h1>
  <h2>WEWEWEWEWEWE</h2>
  <form method="post">
    <input type="text" name="auth_login" id="auth_login" />
    <input type="text" name="auth_password" id="auth_password" />
    <button type="submit">Log In</button>
  </form>
  <button id="jquery_test">CLICK ME!!!!</button>
  {% comment %} <p>{{ MEDIA_URL }}</p>
  <img src="{% media 'media/icons8-sausage-96.png' %}" alt="icons8-sausage-96" height="75px" width="75px"> {% endcomment %}
  <br />
  <div class="stary">
    <div>
      <div class="mlodszy">
        <h1>TEST</h1>
        <p>text under</p>
      </div>
    </div>
  </div> 
  {% comment %} <h1>This template's stylesheet was written SASS/SCSS</h1> {% endcomment %}

  <a href="{% url 'register'%}">Register</a>
{% endblock %} 