{% extends 'base.html' %}
{% load static %}
{% block page_title %}
  Idea-Meal || Main Page
{% endblock %}
{% block body %}
  {%block navbar %}
  <div class="navbar" id="nav" style="display: none;">
    <div class="navbar__logo"><img src="{% static 'img/first_logo.png' %}" alt="testLogo"/></div>
    <div class="navbar__links">
      <ul id="links">
        <li class="link"><a href="{% url 'recipes_add'%}"><img src="{% static 'img/icon_add.png' %}" alt="add"/><p>Add Recipes</p></a></li>
        <li class="link">link</li>
        <li class="link">link</li>
        <li class="link"><a href="{% url 'logout'%}"><img src="{% static 'img/icon_logout.png' %}" alt="logout"/><p>Logout</p></a></li>
      </ul>
    </div>
    <div class="navbar__toggle_btn" >
      <img src="{% static 'img/icon_arrow.png' %}" alt="arrow" id="navBtn"/>
    </div>
    <div class="navbar__blank_space"></div>
    <div class="navbar__user">
      <div class="user_info">
        <div class="user_img"><img src="https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg" alt="userIcon"/></div>
        <div class="user_name"><p>Nick</p></div>
      </div>
      <div class="settings"><img src="{% static 'img/icon_gear.png' %}" /><p>Settings</p></div>
    </div>
  </div>
  {%endblock%}
    <h1 style="margin: 0;">Hello World !</h1>
    <h2>Welcome {{name}}, you are on Main Page</h2>
    <h3>Work in progres</h3>
    <h1><a href="{% url 'logout'%}">Logout</a></h1>
    <h1><a href="{% url 'recipes_add'%}">Add Recipes</a></h1>
    <h3>Recipes:</h3>
    {%for x in recipes%}
    <a href ="/recipe/{{x.id}}">{{x}}</a><br>
    {% endfor %}
    <button id="disable_nav">Enable_nav</button>

  <div id="nav_reciper_show"></div>
  <div id="nav_recipe_res_div">
    <div class="nav_title">
      <div id="nav_reciper_hidder"></div>
      <p>Recipes</p>
    </div>
    <div class="nav_filters">
      <p class="nav_recipe_h">Filters</p>
      <form>
        <input type="checkbox" id="filter1" name="filter1" value="difficulty">
        <label for="filter1" title="difficulty"> difficulty</label>
        <input type="checkbox" id="filter2" name="filter2" value="Car">
        <label for="filter2" title="prepare time">prepare time</label><br>
        <input type="checkbox" id="filter3" name="filter3" value="Boat">
        <label for="filter3" title="raiting">raiting</label>
        <input type="checkbox" id="filter4" name="filter4" value="Bike">
        <label for="filter4" title="per serving"> per serving</label><br>
        <input type="checkbox" id="filter5" name="filter5" value="Car">
        <label for="filter5" title="verificated"> verificated</label><br>
        <input type="submit" value="Apply">
      </form>
      
    </div>
    <div class="nav_results">
      <p class="nav_recipe_h">Results</p>
      <div class="recipe_box">
        <div class="recipe_box_simple">
          <div class="verificated"></div>
          <div class="name"><p>Polish Pierogis</p></div>
          <div></div>
        </div>
        <div class="recipe_box_extended" style="display: none;">
          <div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ligula metus. Duis sollicitudin ut tellus id lacinia. Cras viverra enim non nisi feugiat, et condimentum sem hendrerit. Suspendisse ut accumsan mauris. Nulla elit dui, vulputate in aliquam a, ultricies et enim. Pellentesque rhoncus gravida cursus. Nulla quis erat ultricies, venenatis velit id, cursus justo. Nam convallis dignissim lectus id consectetur.</div>
            <div>
              <div class="spicy_img"></div>
            </div>
          </div>
          <div class="small-div">
            <div class="three-seg">
              <div class="time_img"></div>
              <div class="info">5H</div>
            </div>
            <div class="three-seg">
              <div class="people_img"></div>
              <div class="info">12</div>
            </div>
            <div class="three-seg">
              <div class="cuisine_img"></div>
              <div class="info">Asian</div>
            </div>
          </div>
          <div class="small-div">
            <div class="two-seg-one">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="counter">(5)</div>
            </div>
            <div class="two-seg-two"><p>See more</p></div>
          </div>
        </div>
      </div>
      <div class="recipe_box">
        <div class="recipe_box_simple">
          <div class="verificated" style="display: none;"></div>
          <div class="name"><p>Milk flakes</p></div>
          <div style="background-color: green !important"></div>
        </div>
        <div class="recipe_box_extended" style="display: none;">
          <div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ligula metus. Duis sollicitudin ut tellus id lacinia. Cras viverra enim non nisi feugiat, et condimentum sem hendrerit. Suspendisse ut accumsan mauris. Nulla elit dui, vulputate in aliquam a, ultricies et enim. Pellentesque rhoncus gravida cursus. Nulla quis erat ultricies, venenatis velit id, cursus justo. Nam convallis dignissim lectus id consectetur.</div>
            <div>
              <div class="spicy_img"></div>
            </div>
          </div>
          <div class="small-div">
            <div class="three-seg">
              <div class="time_img"></div>
              <div class="info">2H</div>
            </div>
            <div class="three-seg">
              <div class="people_img"></div>
              <div class="info">1</div>
            </div>
            <div class="three-seg">
              <div class="cuisine_img"></div>
              <div class="info">---</div>
            </div>
          </div>
          <div class="small-div">
            <div class="two-seg-one">
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="star"></div>
              <div class="counter">(15)</div>
            </div>
            <div class="two-seg-two"><p>See more</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 
