{% extends 'base.html' %}
{% load static %}
{% block page_title %}
  Idea-Meal || Main Page
{% endblock %}
{% block body %}
  {%block navbar %}
  <div class="navbar" id="nav">
    <div class="navbar__logo"><img src="{% static 'img/first_logo.png' %}" alt="testLogo"/></div>
    <div class="navbar__links">
      <ul id="links">
        <li class="link"><a href="{% url 'recipes_add'%}"><img src="{% static 'img/icon_add.png' %}" alt="add"/><p>Add Recipes</p></a></li>
        <li class="link">link</li>
        <li class="link">link</li>
        <li class="link"><a href="{% url 'logout'%}"><img src="{% static 'img/icon_logout.png' %}" alt="logout"/><p>Logout</p></a></li>
      </ul>
    </div>
    <div class="navbar__toggle_btn" >
      <img src="{% static 'img/icon_arrow.png' %}" alt="arrow" id="navBtn"/>
    </div>
    <div class="navbar__blank_space"></div>
    <div class="navbar__user">
      <div class="user_info">
        <div class="user_img"><img src="https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg" alt="userIcon"/></div>
        <div class="user_name"><p>Nick</p></div>
      </div>
      <div class="settings"><img src="{% static 'img/icon_gear.png' %}" /><p>Settings</p></div>
    </div>
  </div>
  {%endblock%}
    <h1 style="margin: 0;">Hello World !</h1>
    <h2>Welcome {{name}}, you are on Main Page</h2>
    <h3>Work in progres</h3>
    <h1><a href="{% url 'logout'%}">Logout</a></h1>
    <h1><a href="{% url 'recipes_add'%}">Add Recipes</a></h1>
    <h3>Recipes:</h3>
    {%for x in recipes%}
    <a href ="/recipe/{{x.id}}">{{x}}</a><br>
    {% endfor %}
{% endblock %} 
