{% extends 'base.html' %}
{% load static %}
{% block page_title %}
  Idea-Meal || Adding 
{% endblock %}
{% block body %}  
<div class="add_product_holder">
<h1>Add product</h1>
<form class="input_form" method="post">
  {% csrf_token %}
  <label for="product_name">Name: </label>
  <input type="text" name="product_name" id="product_name" required/><br>
  <label for="product_category">Category: </label>
  <select name="product_category" id="product_category">
     {% for product_category in product_categories %}
         <option value="{{product_category}}">{{product_category}}</option>
     {% endfor %}
  </select><br/>
  <label for="product_unit">Unit: </label>
  <select name="product_unit" id="product_unit">
     {% for product_unit in product_units %}
         <option value="{{product_unit}}">{{product_unit}}</option>
     {% endfor %}
  </select><br/>
  <label for="product_quantity">Quantity: </label>
  <input type="number" name="product_quantity" id="product_quantity" placeholder="ml" min=0 required/><br>
  <div style="text-align: center;">
    <button id="submit_product" class="idea_btn">ADD</button>
  </div>
</form>
<a href="/main_page/{{user_id}}"><div class="back_button_img"></div></a>
</div> 
{% endblock %}
{% block page_js%} 
<script>  
// quantity logic in product page
$('#product_unit').on('click',function(){
   switch($('#product_unit').val()){
     case "UNIT":
     $('#product_quantity').replaceWith("<input type='number' name='product_quantity' id='product_quantity' placeholder='pcs' min=0 required/>");
      break;

     case "ML":
     $('#product_quantity').replaceWith("<input type='number' name='product_quantity' id='product_quantity' placeholder='ml' step='5' min=0 required/>");
      break;

     case "GRAMS":
     $('#product_quantity').replaceWith("<input type='number' name='product_quantity' id='product_quantity' placeholder='g' step='10' min=0 required/>");
      break;
   }
  })
</script>
{% endblock %} 

