{% extends 'base.html' %}
{% block page_title %}
  Idea-Meal || Recipes
{% endblock %}
{% block body %}
  <div class="navbar-left">
    <h2 style="margin: 0;">Welcome {{name}}, you are on Main Page</h2><br>
    <h3>Work in progres</h3><br>
    <ul>
      <li>ADD recipe</li>
      <li><a href="{% url 'recipes'%}">Recipes</a></li>
      <li>Your fridge</li>
    </ul>
    <h1><a href="{% url 'logout'%}">Logout</a></h1>
  </div>
  <div class="main-content">
    <h1>RECIPES PAGE</h1>
  </div>
{% endblock %} 