{% extends 'base.html' %}
{% load static %}
{% block page_title %}
  Idea-Meal || Adding Recipe
{% endblock %}
{% block body %}
  <div id="recipe_helper" title="How to fill Add recipe form?">
    <div class="img"></div>
  </div>  
  <div class="add_recipe_holder only_add_recipe">
    <div id="page_title">
      <h1>Add recipe</h1>
    </div>
    <a href={% url 'main' user_id=user.id%}><div class="back_button_img" title="Home"></div></a>
    <form id="add_recipe_form" method="post">
      <div class="add_recipe_left">
        {% csrf_token %}
        <div class="old-form">
          <div id="img-preview">
            <img id="img_preview__img" src="https://img.icons8.com/ios/100/null/upload-document.png" alt="your image" />
          </div>
          <label for="img">Upload image:</label>
          <input type="file" id="imgInp" name="img" accept="image/*">
          <label for="recipe_name">Recipe_name: </label>
          <input type="text" name="recipe_name" id="recipe_name" required/><br>
          <label for="short_description" style="height: 100px;">Short description: </label>
          <textarea type="text" name="short_description" id="short_description" rows="4" required></textarea><br>
          <label for="difficulty">Difficulty: </label>
          <select name="difficulty" id="difficulty">
              <option value="easy">Easy</option>
              <option value="medium">Medium</option>
              <option value="hard">Hard</option>
          </select><br>
          <label for="cuisine_category">Cuisine_category: </label>
          <select name="cuisine_category" id="cuisine_category">
            <option value="0" selected disabled>Choose option</option>
            {% for cuisine_category in cuisine_category_enum %}
              <option value="{{cuisine_category}}">{{cuisine_category}}</option>
            {% endfor %}
          </select>
          <label for="meal_time_category">Meal_time_category: </label>
          <select name="meal_time_category" id="meal_time_category">
            <option value="0" selected disabled>Choose option</option>
            {% for meal_time_category in meal_time_category_enum %}
              <option value="{{meal_time_category}}">{{meal_time_category}}</option>
            {% endfor %}
          </select>
          <label for="prepare_time">Prepare_time: </label>
          <input type="time" name="prepare_time" id="prepare_time" min="00:00" max="24:00" required/><br>
          <label for="spiciness">Spiciness: </label>
          <select name="spiciness" id="spiciness">
            <option value="0" selected disabled>Choose option</option>
            {% for spiciness in spiciness_level_enum %}
              <option value="{{ forloop.counter }}">{{spiciness}}</option>
            {% endfor %}
          </select>
          <label for="per_serving">Per_serving: </label>
          <input type="number" name="per_serving" id="per_serving" min="1" max="20" required/><br>
        </div>
      </div>
      <div class="add_recipe_right">
        <div class="old-form">

        </div>
        <div class="old-form form-i_block">
          <label for="description">Guidance: </label>
          <textarea type="text" name="description" id="description" rows="13" placeholder="Enter a quick guidance..." required></textarea><br>
        </div>
      </div>
      
    </form>
    <div class="submit_center">
      <button id="submit_recipe" onclick="send()">ADD</button>
    </div>
    <div class="add_product_recipe">
      <div class="old-form">
        <div class="product_section_name">Products</div>
        <label for="product_name">Name: </label>
        <input type="text" name="product_name" id="product_name" required pattern="[a-zA-Z]*" /><br>
        <label for="product_unit">Unit: </label>
        <select name="product_unit" id="product_unit">
          {% for product_unit in product_units %}
              <option value="{{product_unit}}">{{product_unit}}</option>
          {% endfor %}
        </select><br/>
        <label for="product_quantity">Quantity: </label>
        <input type="number" name="product_quantity" id="product_quantity" placeholder="quantity" min=0 max=9999 required/><br>
        <div class="centered_div">
          <button type="button" class="idea_btn" id="submit_changes" onclick="validate()">Add product</button>
        </div>
      <div id="display_products"></div>
    </div>
    </div>
  </div> 
{% endblock %} 
{% block page_js%} 
<script>  
imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    img_preview__img.src = URL.createObjectURL(file)
  }
}

let recipe_products = {};

function validate() {
  var product_name = document.getElementById("product_name").value;
  var product_quantity = document.getElementById("product_quantity").value;
  var regex = new RegExp('^\\d+$');
  var test = regex.test(product_name);

  if(test === true){
    Swal.fire({
      position: 'top-end',
      icon: 'error',
      title: 'Numbers are not allowed in section "Products" field "Name"!',
      showConfirmButton: false,
      timer: 2500
    })
  }else if(product_name.length == 0 || product_quantity.length == 0){
    Swal.fire({
      position: 'top-end',
      icon: 'error',
      title: 'Fields in section "Products" cannot be empty!',
      showConfirmButton: false,
      timer: 2500
    })
  }else{
    addProduct();
  }
}

function addProduct(){
  let product_unit = [];
  pr_name = document.getElementById("product_name").value;
  pr_unit = document.getElementById("product_unit").value;
  pr_quantity = document.getElementById("product_quantity").value;

  product_unit = [pr_name, pr_unit, pr_quantity];
  recipe_products[pr_name] = product_unit;
  console.log(recipe_products);

  var html_for_product = '<div class="product_item">'+
                            '<div class="img"></div>'+
                            '<div class="name">'+pr_name+'</div>'+
                            '<div class="quantity">'+pr_quantity+' '+pr_unit+'</div>'+
                         '</div>';
  $('#display_products').append(html_for_product);
}

function send(){
  temp_recipe_name = document.getElementById("recipe_name").value;
  recipe_name = temp_recipe_name.charAt(0).toUpperCase() + temp_recipe_name.slice(1);
  
  console.log(recipe_name);
  description = document.getElementById("description").value;
  short_description = document.getElementById("short_description").value;
  cuisine_category = document.getElementById("cuisine_category").value;
  difficulty = document.getElementById("difficulty").value;
  meal_time_category = document.getElementById("meal_time_category").value;
  prepare_time = document.getElementById("prepare_time").value;
  spiciness = document.getElementById("spiciness").value;
  per_serving = document.getElementById("per_serving").value;

  description = description.replace(/(\r\n|\n|\r)/gm, "");
  short_description = short_description.replace(/(\r\n|\n|\r)/gm, "");

  jQuery.ajax({
    type: "POST",
    url: '{% url "recipes_add" %}',
    data: {
        recipe_name,
        description,
        short_description,
        difficulty,
        cuisine_category,
        meal_time_category,
        prepare_time,
        spiciness,
        per_serving,
       'data_dict':  recipe_products,
       "csrfmiddlewaretoken": "{{ csrf_token }}",
    },
    success: function (data) {
      console.log("success");
      Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Your recipe has been added successfully',
        showConfirmButton: false,
        timer: 1500
      })
    },
    failure: function (data) {
      console.log("failure");
      Swal.fire({
        position: 'top-end',
        icon: 'error',
        title: 'Something went wrong! Try again.',
        showConfirmButton: false,
        timer: 1500
      })
    },
  })
}

// $('#submit_recipe').on('click',function(){
//   if(!$('.recipe_name').val() || 
//       !$('.description').val() ||
//       !$('.difficulty').val() ||
//       !$('.cuisine_category').val() ||
//       !$('.meal_time_category').val() ||
//       !$('.prepare_time').val() ||
//       !$('.spiciness').val() ||
//       !$('.per_serving').val()){
//         Swal.fire({
//           position: 'top-end',
//           icon: 'error',
//           title: 'Something went wrong. Try again!',
//           showConfirmButton: false,
//           timer: 1500
//         })
//       }else{
//         Swal.fire({
//           position: 'top-end',
//           icon: 'success',
//           title: 'Your work has been saved',
//           showConfirmButton: false,
//           timer: 1500
//         })
//       }  
// })
//main page helper
$('#recipe_helper').on('click',function(){
  Swal.fire({
    title: '<strong>How to create good recipe?</strong>',
    icon: 'info',
    html:
      '<div id="nav_helper_color">'+
      '<p class="centered">'+
      '  In this section I want to tell you more about in which way fill form on the right side to create clear and legible recipe that maybe some day will be the most popular on this site.'+
      '<p>'+
      '  <ol>'+
      '    <li>First of all, <b>Give simple as possible title</b>  of your recipe that attract people</li>'+
      "    <li><b>Write easy to follow instructions.</b> No one wants to read block of complex text, <b>don't you?</b></li>"+
      '    <li><b>Give your readers clear list of ingredients</b> that are needed to prepare this dish</li>'+
      '    <li>When you will be setting a prepare time make sure that you summary <b>all activities</b> that are needed to make it from alpha to omega</li>'+
      "    <li>If you don't know which <b>cuisine</b> is that recipe belongs to choose option <b>unknown</b>. Same thing do for <b>meal_time_category</b></li>"+
      '    <li>When you face to set what <b>difficulty</b> and <b>spiciness</b> of this recipe is keep in mind that should be defined for average person(not experienced one)</li>'+
      '    <li>Set <b>per serving</b> number which says: How many servings you end up with.</li>'+
      '  </ol>'+
      '</p>'+
      '<p class="centered">'+
      '  If you follow this quick tutorial you will end with solid recipe which one will be growing in popularity before you know it.'+
      '</p>'+
      '<div>',
    width: '45em',
    showCloseButton: true,
    showCancelButton: false,
    showConfirmButton: false,
    focusConfirm: false,
  })
})
</script>
{% endblock %} 
