{% extends 'base.html' %}
{% load static %}
{% block page_title %}
  Idea-Meal || Recipe info
{% endblock %}
{% block body %}
  <div id="comments_display_btn" onclick="comment_section_toggle()">
    <div></div>
  </div>  
  <div id="recipe_comment_section" style="display: none;">
    {% csrf_token %}
    <div class="recipe__user_comment_add">
        <p>Write a comment:</p>
        <form method="post" class="comment_form">
            {% csrf_token %}
            <label>Your Rating:</label>
            <div class="raiting_section">
              <input type="radio" id="star5" name="raiting" value="5" class="radio-btn hide" />
              <label for="star5">☆</label>
              <input type="radio" id="star4" name="raiting" value="4" class="radio-btn hide" />
              <label for="star4">☆</label>
              <input type="radio" id="star3" name="raiting" value="3" class="radio-btn hide" />
              <label for="star3">☆</label>
              <input type="radio" id="star2" name="raiting" value="2" class="radio-btn hide" />
              <label for="star2">☆</label>
              <input type="radio" id="star1" name="raiting" value="1" class="radio-btn hide" />
              <label for="star1">☆</label>
              <div class="clear"></div>
            </div>
            <!-- <input type="number" name="raiting" id="raiting"><br> -->
            <textarea type="text" name="comment" id="comment" placeholder="Add comment" oninput="auto_grow(this)" required></textarea><br>
            <button type="submit" class="submit_comment">ADD</button>
        </form>
    </div>
    <div class="recipe__users_comments">
        {% for x in all_comments %}
            <div class="recipe_comment">
              <div class="top">
                <div class="avatar">
                  <img src="{% static 'img/default_avatar.jpg' %}" alt="settings_img" title="Settings"/>
                </div>
                <div class="user_name">Simple user name</div>
                <div class="user_rating">
                  <div>5</div>
                </div>
              </div>
              <div class="bottom">
                {{x}}
              </div>
            </div>
        {% endfor %}
    </div>
  </div>
  <div class="add_recipe_holder">
    <div id="page_title">
      <h1>Recipe info</h1>
    </div>
    <a href="/main_page/{{user_id}}"><div class="back_button_img"></div></a>
    <div class="add_recipe_left">
      <div class="top_section">
        <div class="recipe_photo"></div>
        <div class="recipe_name">
          <p class="author">AUTOR: NO SET</p>
          <p class="name">{{recipe.name}}</p>
        </div>
      </div>
      <div class="middle_section">
        <div class="middle_section_left">
          <div class="item">
            <div class="difficulty_ico"></div><div class="item_text">{{recipe.difficulty}}</div>
          </div>
          <div class="item">
            <div class="cuisine_ico"></div><div class="item_text">{{recipe.cuisine_category_id}}</div>
          </div>
          <div class="item">
            <div class="per_serving_ico"></div><div class="item_text">{{recipe.per_serving}}</div>
          </div>
          <div class="item">
            <div class="spiciness_ico"></div><div class="item_text">{{recipe.spiciness}}</div>
          </div>
          <div class="item">
            <div class="time_ico"></div><div class="item_text">{{recipe.prepare_time}}</div>
          </div>
          <div class="item star_raiting_redirect" onclick="comment_section_toggle()">
            <div class="raiting_ico"></div><div class="item_text">{{recipe.comment_id}}</div>
          </div>
        </div>
        <div class="middle_section_right">
          <div class="short_desc_sec">
            <p>
              {{recipe.description}}
            </p>
          </div>
          <div class="ingredients_sec">
            <p>Ingredients</p>
            <p>
              <ul>
                <li>chleb</li>
                <li>ziemniaki</li>
                <li>marchewki</li>
                <li>ogorki</li>
                <li>sol</li>
                <li>pieprz</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="add_recipe_right">
      <p>Preparation</p>
      <p>THERE WILL BE PREPARATION PART.</p>
      {{recipe}}
    </div>
  </div> 
{% endblock %}
{% block page_js%}
<script>
  function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight)+"px";
  }
</script>
{% endblock %} 

