{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'img/first_logo.png' %}" type="image/icon type">
    {# Global styles #} 
    {% block site_css %}
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css"/>
    <link href="{% sass_src 'bootstrap/bootstrap.scss' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    {% endblock %} 
    {# Page-specific styles #}
    {% autoescape off %} 
    {% block page_css %}{% endblock %} 
    {% endautoescape %}
    <title>{% block page_title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}
    {# Page content will go here #} 
    {% endblock %} 
    {# Globaljavascript #} 
    {% block site_js %}
      <script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery-3.6.1.js"></script> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="{% static 'js/main.js' %}" defer></script>  
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% endblock %} 
    {# Page javascript #} 
    {% autoescape off %} 
    {% block page_js%} {% endblock %} 
    {% endautoescape %}
  </body>
  <footer>
    <span>All icons are provided by <a href="https://icons8.com" target="_blank">icons8</a></span>
  <footer>
</html>
